{% load static %}
<link rel="stylesheet" href="{% static 'ate.css' %}">

  <head>

    <title>Pagina de aterrizaje |  {% block title %}Home{% endblock%}</title>

  </head>
  
  <body>
  <h1>Bienvenido a esta Pagina de aterrizaje - Landing page</h1>
  <p>Esta pagina esta hecha para que puedas descargar un fondo de pantalla.</p>
  <p>Lo mas importante es que esta hecha en Django y esta desplegada en Python AnyWhere.</p>
  <button class= "boton" onclick="window.location.href='https://initiate.alphacoders.com/download/images2/1358046/png'">Dame mi fondo</button>
  </body>